h1, h2, h3 {
  color: darkgreen;
  margin-top: 20px;
  margin-left: 20px;
}

form, p{
  margin-top: 20px;
  margin-left: 20px;
}

form .btn {
  text-align: center;
  margin:auto;
  padding-left: 10px;
  padding-right: 10px;
}
